body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"),
    url("../src/fonts/IBMPlexSans-Regular.ttf") format("truetype");
}
.headTxt {
  font-family: "IBM Plex Sans";
  font-size: 30px;
}
a {
  text-decoration: none;
}
.mainColor {
  color: gold;
  font-family: "IBM Plex Sans";
}
